build
data
libs
*.pro.user*
Map2DFusion
PIL/build
PIL/bin
PIL/libs
.qgl*
Map2DFusion.pro

# Ignore VSCode Settings
.vscode/

# Ignore PyCharm Project Configurations
.idea/

# ignore sample dataset
phantom3-village-kfs/
